<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Vue todo list</title>
    <link rel="stylesheet" href="https://ez-css.now.sh" />
    <style>
      .done {
        text-decoration: line-through;
      }
      .list {
        margin-top: 35px;
        list-style: none;
      }
      ul li div {
        display: flex;
        align-items: center;
      }
      ul li button {
        width: 50px;
      }
      ul li input {
        margin: 0 15px;
        width: auto;
      }
    </style>
  </head>
  <body>
    <main id="app">
      <form @submit.prevent="addTodo">
        <label for="newTodo">Todo List</label>
        <input v-model="newTodo" type="text" name="newTodo" />
        <button type="submit">Add</button>
      </form>
      <ul>
        <li class="list" v-for="todo in todos">
          <input
            @change="allCheckedTodo(todo)"
            type="checkbox"
            v-model="todo.allComplete"
          />
          <span :class="{done:todo.done}">{{todo.title}}</span>
          <button @click="removeTodo(todo)">X</button>
          <ul>
            <li id="addItem">
              <input type="text" id="Item" v-model="newItem" />
              <button @click="addItem(todo)">
                +
              </button>
            </li>
          </ul>
          <ul>
            <li v-for="item in todo.todoItems ">
              <input type="checkbox" v-model="item.complete" />
              {{item.content}}
              <button
                style="width: 25px; height: 25px; font-size: 16px;"
                @click="removeItem({data:{item,todo}})"
              >
                X
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </main>
  </body>
  <script src="app.js"></script>
</html>
